<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ page session="true" %>

<html>
<head>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'
             width='16' height='16' fill='green' class='bi bi-check-circle-fill' viewBox='0 0 16 16'>
    <path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384
     7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/>
    </svg>"/>
    <title>${text['user.title']}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<!--header-->
<div class="container-fluid fixed-top bg-light">
    <header class="d-flex flex-wrap justify-content-center py-3 ">
        <div class="d-flex bg-light mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <i class="bi bi-check2-circle h1 "></i>
            <h2 class="fs-2">&nbsp;${text['index.logo']}</h2>
        </div>
        <div class="col-md-3 text-end">
            <a class="btn btn-link " href="/user/edit" role="button"><b>
                <c:out
                        value="${sessionScope.user.username}"/>
            </b></a>
            <a class="btn btn-outline-primary me-2" href="/logout" role="button">${text['btn.logout']}</a>
        </div>
    </header>

    <!--navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
        <div class="container-fluid align-items-center">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="/user">${text['user.endtest.home']}</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <div class="col-xs-2 text-end">
                    <form class="form-inline my-2 my-lg-0">
                        <select id="language" name="language" class="form-select form-select-md  "
                                aria-label=".form-select-md"
                                onchange="submit()">
                            <option value="EN" ${language==
                            'EN' ? 'selected' : ''}>English</option>
                            <option value="RU" ${language==
                            'RU' ? 'selected' : ''}>Русский</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>

    </nav>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container ">
    <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-lg-12 col-xl-11">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">${text['user.endtest.welcome']}</p>
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <p class="text-center h1 fw-bold lh-sm">${text['user.pretest.subject']}
                        <c:out value="${sessionScope.subject.subject}"/>
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                            <c:if test="${error == 'error_page'}">
                                <div class="alert alert-danger d-flex align-items-center" role="alert">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                         class="bi flex-shrink-0 me-2" aria-label="Danger:" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    <div>
                                        ${text['user.endtest.err.dbproblem']}<br/>
                                        <b> ${errormessage}</b>
                                    </div>
                                </div>
                            </c:if>
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 ">
                                <a href="/user" class="btn btn-success btn-lg" role="button" aria-pressed="false">${text['user.endtest.next']}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="mailto:leonid.vasyliev2021@gmail.com"> Vasyliev Leonid</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--script for pagination-->
<!--https://codepen.io/robertcooper_rc/pen/XeabLa?editors=1111-->
<!--https://colorlib.com/wp/bootstrap-pagination/-->

<div id="pagination"></div>

<script>
    let pages = 25;

    document.getElementById("pagination").innerHTML = createPagination(pages, 12);

    function createPagination(pages, page) {
        let str = "<ul>";
        let active;
        let pageCutLow = page - 1;
        let pageCutHigh = page + 1;
        // Show the Previous button only if you are on a page other than the first
        if (page > 1) {
            str +=
                '<li class="page-item previous no"><a onclick="createPagination(pages, ' +
                (page - 1) +
                ')">Previous</a></li>';
        }
        // Show all the pagination elements if there are less than 6 pages total
        if (pages < 6) {
            for (let p = 1; p <= pages; p++) {
                active = page == p ? "active" : "no";
                str +=
                    '<li class="' +
                    active +
                    '"><a onclick="createPagination(pages, ' +
                    p +
                    ')">' +
                    p +
                    "</a></li>";
            }
        }
        // Use "..." to collapse pages outside of a certain range
        else {
            // Show the very first page followed by a "..." at the beginning of the
            // pagination section (after the Previous button)
            if (page > 2) {
                str +=
                    '<li class="no page-item"><a onclick="createPagination(pages, 1)">1</a></li>';
                if (page > 3) {
                    str +=
                        '<li class="out-of-range"><a onclick="createPagination(pages,' +
                        (page - 2) +
                        ')">...</a></li>';
                }
            }
            // Determine how many pages to show after the current page index
            if (page === 1) {
                pageCutHigh += 2;
            } else if (page === 2) {
                pageCutHigh += 1;
            }
            // Determine how many pages to show before the current page index
            if (page === pages) {
                pageCutLow -= 2;
            } else if (page === pages - 1) {
                pageCutLow -= 1;
            }
            // Output the indexes for pages that fall inside the range of pageCutLow
            // and pageCutHigh
            for (let p = pageCutLow; p <= pageCutHigh; p++) {
                if (p === 0) {
                    p += 1;
                }
                if (p > pages) {
                    continue;
                }
                active = page == p ? "active" : "no";
                str +=
                    '<li class="page-item ' +
                    active +
                    '"><a onclick="createPagination(pages, ' +
                    p +
                    ')">' +
                    p +
                    "</a></li>";
            }
            // Show the very last page preceded by a "..." at the end of the pagination
            // section (before the Next button)
            if (page < pages - 1) {
                if (page < pages - 2) {
                    str +=
                        '<li class="out-of-range"><a onclick="createPagination(pages,' +
                        (page + 2) +
                        ')">...</a></li>';
                }
                str +=
                    '<li class="page-item no"><a onclick="createPagination(pages, pages)">' +
                    pages +
                    "</a></li>";
            }
        }
        // Show the Next button only if you are on a page other than the last
        if (page < pages) {
            str +=
                '<li class="page-item next no"><a onclick="createPagination(pages, ' +
                (page + 1) +
                ')">Next</a></li>';
        }
        str += "</ul>";
        // Return the pagination string to be outputted in the pug templates
        document.getElementById("pagination").innerHTML = str;
        return str;
    }


</script>
</body>


</html>
